<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>
<h1>About Safaricom PLC</h1>
<a href="index.html"><button class="btn_one">Home</button></a>
<a href="about.html"><button class="btn_two">About</button></a>
<a href="gallery.html"><button class="btn_three">Gallery</button></a>
<a href="register.html"><button class="btn_four">Register</button></a>
<a href="login.html"><button class="btn_five">Login</button></a>
<hr>
<h3 class="services_h3">Services</h3>
<ol class="servies_list">
    <li>M-PESA</li>
    <li>Fuliza</li>
    <li>Okoa jahazi</li>
    <li>Bulk SMS</li>
    <li>Voice calls</li>
</ol>
<h3 class="houses_h3">Safaricom Houses</h3>
<ul class="houses_list">
    <li>Sarit centre</li>
    <li>Moi Avenue</li>
    <li>Tom Mboya</li>
    <li>Kikuyu</li>
    <li>Thika</li>
</ul>
<h3 class="bundle_h3">Bundle packages</h3>
<table>
    <tr>
        <th>Bundle name</th>
        <th>Bundle size</th>
        <th>Bundle price</th>
    </tr>
    <tr>
        <td>Bronze</td>
        <td>8MB</td>
        <td>Ksh 3,000</td>
    </tr>
    <tr>
        <td>Silver</td>
        <td>20MB</td>
        <td>Ksh 4,500</td>
    </tr>
    <tr>
        <td>Gold</td>
        <td>70MB</td>
        <td>Ksh 7,800</td>
    </tr>
    <tr>
        <td>Home plus</td>
        <td>100MB</td>
        <td>Ksh 12,500</td>
    </tr>
    <tr>
        <td>Office suit</td>
        <td>150MB</td>
        <td>Ksh 18,500</td>
    </tr>
</table>



</body>
</html>