<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>
<h1>Safaricom Gallery</h1>
<a href="index.html"><button class="btn_one">Home</button></a>
<a href="about.html"><button class="btn_two">About</button></a>
<a href="gallery.html"><button class="btn_three">Gallery</button></a>
<a href="register.html"><button class="btn_four">Register</button></a>
<button class="btn_five">Login</button>
<hr>
<img class="picha" src="../static/images/pic1.png" alt="My pic one">
<img class="picha" src="../static/images/pic2.png" alt="My pic two">
<img class="picha" src="../static/images/pic3.png" alt="My pic three">
<img class="picha" src="../static/images/pic4.jpg" alt="My pic four">
<br><br>
<video controls  src="../static/videos/vid1.mp4"></video>
<video controls  src="../static/videos/vid2.mp4"></video>
<video controls  src="../static/videos/vid3.mp4"></video>
<br><br>
<audio controls src="../static/audios/audio1.mp3"></audio>
<audio controls src="../static/audios/audio2.mp3"></audio>
<audio controls src="../static/audios/audio3.mp3"></audio>


</body>
</html>