<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>
    <h1>Safaricom PLC</h1>
    <a href="index.html"><button class="btn_one">Home</button></a>
    <a href="about.html"><button class="btn_two">About</button></a>
    <a href="gallery.html"><button class="btn_three">Gallery</button></a>
    <a href="register.html"><button class="btn_four">Register</button></a>
    <a href="login.html"><button class="btn_five">Login</button></a>
    <hr>
    <h3 class="h_one">CEO's remarks</h3>
    <p class="p_one">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem doloremque dolorum provident repellat velit! Aliquid deleniti doloremque
        molestias quasi quo ratione voluptatibus. Accusantium distinctio eos iste, magnam molestiae sint vel.</p>
    <p class="p_two">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At debitis dolorem itaque nam, nostrum perferendis.
        Ad doloremque, dolores error iure, laboriosam necessitatibus non numquam possimus praesentium qui rem, saepe veritatis.</p>
    <h3 class="h_two">ICT officer's remarks</h3>
    <p class="p_three">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet, architecto delectus, eius esse
        est illum mollitia nam numquam omnis, quae qui quidem quo sapiente sed totam veritatis voluptatum.</p>
    <p class="p_four">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ab at blanditiis corporis doloremque eaque eius explicabo
        id iusto laudantium libero magni modi optio, possimus ratione repellat rerum soluta? Minima.</p>
</body>
</html>