<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>
    <h1>Safaricom Log In</h1>
    <a href="index.html"><button class="btn_one">Home</button></a>
    <a href="about.html"><button class="btn_two">About</button></a>
    <a href="gallery.html"><button class="btn_three">Gallery</button></a>
    <a href="register.html"><button class="btn_four">Register</button></a>
    <a href="login.html"><button class="btn_five">Login</button></a>
    <hr>
    <h3 class="register">Log in</h3>
    <form class="registration_form" action="">
    <input required class="input_login" placeholder="Enter email address" type="email"><br><br><br>
    <input required class="input_login" placeholder="Enter password" type="password"><br><br>
    <button class="btn_submit">Log In</button> <br><br>
        <a class="password_reset" href="#">Forgot password</a>

</form>

</body>
</html>