<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>
    <h1>Safaricom Register</h1>
    <a href="index.html"><button class="btn_one">Home</button></a>
        <a href="about.html"><button class="btn_two">About</button></a>
        <a href="gallery.html"><button class="btn_three">Gallery</button></a>
    <a href="register.html"><button class="btn_four">Register</button></a>
    <a href="login.html"><button class="btn_five">Login</button></a>
        <hr>
    <h3 class="register">Sign up Here</h3>
    <form class="registration_form" action="">
    <input required class="input" placeholder="Enter full name" type="text"><br><br>
    <input required class="input" placeholder="Enter email address" type="email"><br><br>
    <input required class="input" placeholder="Enter ID" type="number"><br><br>
    <input class="input" type="date"><br><br>
        <div class="one">
            <label for="">Gender:</label>
    <input  name="gender" type="radio">Male
    <input name="gender" type="radio">Female
    <input name="gender" type="radio">Other
            <br><br>
        <label for="">Select language:</label>
    <select name="" id="">
            <option value="Select language">Python</option>>
            <option value="HTML">HML</option>
            <option value="CSS">CSS</option>
            <option value="Javascript">Javascript</option>
    </select>
            </div>
        <br><br>
        <input class="input" placeholder="Enter password" type="password">
        <br><br>
    <button class="btn_submit">Sign Up</button><br><br>a
    <input class="btn_reset" type="reset">
    </form>
</body>
</html>